body {
  margin: 10px 20px 10px 20px;
  padding: 0px;
  font-family: Helvetica, Arial
}
.div.wrapper {
  margin: 0px
}
section {
  width: 100%
}
table.logos {
 table-layout: float;
 width: 300;
}
th,td {
  border: 0px;
  border-padding: 0px;
}
img {
  height: 100%;
  object-fit: contain
}
td {
  vertical-align: center;
  horizontal-align: center
}
